.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

.spanHover span:hover{
    color: aqua
}