.dropItem {
    :hover{
        background-color: aqua;
    }
}

a.nav-link {
    color: white;
    margin-right: .25vw;
}

a.navbar-brand {
    color: white;
}

a:hover {
    color: aqua;
}

div.nav-link.dropdown-toggle {
    color: white;
}

div.nav-link.dropdown-toggle:hover {
    color: aqua;
}
