.correct{
    color: green;
}

.incorrect{
    color: red
}

.stats-span{
    display: inline-block;
    text-align: center;
    width: 25ch;
    min-width: 13ch;
}

.stats-bar{
    font-size: 1rem;
    padding-bottom: 1vh;
    text-align: center;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}