.row {
  background-color: rgb(37, 37, 37); 
  margin: 0;
}

div {
  background-color: rgb(37, 37, 37);
}

.scrollContainer {
  max-height: 20vh;
  overflow-y: scroll;
  margin-top: 1%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  margin-top: 5vh; 
  margin-bottom: 5vh;
  max-width: 95vw; 
  border-radius: 1rem;
}

.smallImg {
  font-size: .65rem;
  padding-left: .15%;
  position: relative;
  top: -2px;
  cursor: pointer;

}

.keyStatsTips {
  font-size: 1.15rem;
  text-align: center; 
  padding-top: .5%;
  padding-bottom: .5%;
  :hover{
    color:aqua;
  }
}



.userStats {
  background-color: rgb(27, 27, 27);
  border-radius: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
  color: rgb(207,207,207);
}

