  <!-- start user stats -->

<div class="container">
  <div class="row justify-content-around">
    <div class="col-4 align-self-center">
      <div class="row text-center">
        <div class="col align-self-center" style="padding-top: 5%; padding-bottom: 5%;">
          @if(getUser().image != undefined){
            <img style="border-radius: 100%; height: 40%; width: 40%;" [src]="imgUrl">
          }
        <h4 style="padding-top: 5%;">{{getUser().userName}}</h4>
        <p><u>Member Since</u><br>{{formatDateString(getUser().joined) + " UTC"}}</p>
        </div>
        <div class="col align-self-center" style="border-right: solid rgb(54, 53, 53) 3px; padding-right: 20%;">
          <div class="row align-self-center text-center userStats" style="margin-bottom: 15%;">
            <span style="color: rgb(207, 207, 207)"><b>Time Spent Typing:</b></span><br><span>{{convertToTime(userStats.timeTyped)}}</span>
          </div>
          <div class="row align-self-center text-center userStats">
            <span style="color: rgb(207, 207, 207)"><b>Total Keys Typed:</b></span><br><span>{{userStats.charsTyped}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="StatsSection" class="col-6 align-self-center" style="margin-right: 10%">
      <div class="row text-center">
        <div *ngIf="userStats.wpm != null" class="col" >
          <div class="userStats"><b>Avg. Speed:</b><br>{{userStats.wpm.toFixed(2)}}wpm</div>
        </div>
        <div *ngIf="userStats.topWpm != null" class="col">
          <div class="userStats"><b>Top Speed:</b><br>{{userStats.topWpm.toFixed(2)}}wpm</div>
        </div>
        <div class="col">
          <div class="userStats"><b>Avg. Acc:</b><br>{{userStats.accuracy}}%</div>
        </div>
        <div class="col">
          <div class="userStats"><b>Top Acc:</b><br>{{userStats.topAccuracy}}%</div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- start key information -->

<div class="container">
  <div class="row justify-content-center">
    <div class="keyStatsTips">
      <span style="cursor: pointer; color: rgb(207, 207, 207)" data-bs-html="true"
      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="customTooltip"
      data-bs-title="Format:<br><br><u>K</u>ey:<br><u>T</u>otal Times Typed | Average <u>A</u>ccuracy |<br> 
      Average Typing <u>S</u>peed(sec) <br><br>K: T | A | S">
      <b style="text-decoration: underline;">Key Statistics</b>
      <i class="bi bi-info-circle smallImg" ></i></span>
    </div>
    <div class="col-2 " style="padding-bottom: 1%; " *ngFor="let key of userKeyStats">
      <span [ngClass]="{ 'biChar': (key.key != '_' && key.key != 'y'), 'biSpaceChar': key.key == '_' || key.key == 'y'}">{{key.key}}</span>: <span>{{key.totalTyped}}</span>
      | <span>{{key.accuracy}}%</span>
      | <span *ngIf="key.speed != null">{{key.speed.toFixed(3)}}</span>
    </div>
  </div>
</div>

  <!-- start user bigraph information --> 

<div class="container">
  <div class="row justify-content-center">
    <div class="keyStatsTips">
      <span style="cursor: pointer; color: rgb(207, 207, 207)" data-bs-html="true"
      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="customTooltip"
      data-bs-title="Format:<br><br><u>B</u>igraph: <br><u>T</u>otal Times Typed | Average <u>A</u>ccuracy |<br> 
      Average Typing <u>S</u>peed(sec)<br><br>B: T | A | S"><b style="text-decoration: underline;">Bigraph Statistics</b>
      <i class="bi bi-info-circle smallImg" ></i></span>
      <span class="currBigraphPopover" data-bs-toggle="popover" 
      data-bs-placement="top" data-bs-trigger="click"
      data-bs-title="Select Key" data-bs-custom-class="customPopover"
      >
       [{{currBigraph}}]
      </span>
    </div>
    <div class="col-2" style="padding-bottom: 1%;" *ngFor="let bigraph of userBigraphStats">
      <span [ngClass]="{ 'biChar': bigraph.bigraph[0] != '_' && bigraph.bigraph[1] != '_' &&
        bigraph.bigraph[0] != 'y' && bigraph.bigraph[1] != 'y',
       'biSpaceChar': bigraph.bigraph[0] == '_' || bigraph.bigraph[1] == '_'
        || bigraph.bigraph[0] == 'y' || bigraph.bigraph[1] == 'y'}">
       {{bigraph.bigraph}}</span>: <span>{{bigraph.totalTyped}}</span>
      | <span>{{bigraph.accuracy}}%</span>
      | <span>{{bigraph.speed.toFixed(3)}}</span>
    </div>
  </div>
</div>

  <!-- start previous test information -->

<div class="container" style="padding: 0">
  <div class="row justify-content-center" style="background-color: rgb(27, 27, 27);">
    <div class="col-8 align-self-center" style="border-radius: 1rem;">
      <div class="recentTests">
        <span style="cursor: pointer; color: rgb(207, 207, 207)" data-bs-html="true"
        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="customTooltip" title=
        "Format:<br><br><u>D</u>ate/Time(UTC) |<br> <u>M</u>ode | 
        <br><u>T</u>otal Characters<br>(<u>I</u>ncorrect Characters) 
        <br><br>D | M | T(I)"><b style="text-decoration: underline;">Recent Tests</b>
        <i class="bi bi-info-circle smallImg" ></i></span>
      </div>
      <div class="scrollContainer">
        <app-user-test></app-user-test>
      </div>
    </div>  
  </div>
</div>

