body {
    background-color: rgb(27, 27, 27);
}

html {
    color: white;
    background-color: rgb(27, 27, 27);
}

div {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(27, 27, 27);
}

span {
    color: white;
}

.correct {
    color: green;
}

.incorrect {
    color: red
}

.stats-span {
    display: inline-block;
    text-align: center;
    width: 17ch;  
    min-width: 10ch;  
}

.stats-bar {
    font-size: 1rem;
    text-align: center;
}

.btn-plain-text {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
}

.btn-plain-text:hover {
    color: aqua;
}

.blurred {
    filter: blur(.35rem);
}

.focusText {
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

.textWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.cursor {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink 1s step-end infinite;
    position: relative;
    vertical-align: middle;
    margin-left: 1px;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;   /* Cursor visible */
    }
    50% {
      opacity: 0;   /* Cursor hidden */
    }
  }


